@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to blog platform MyBlog</h1>
</div>
    <p class="mt-5">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam posuere lacus quis dolor. Curabitur ligula sapien,
        pulvinar a vestibulum quis, facilisis vel sapien. Nam sed tellus id magna elementum tincidunt. Proin pede metus,
        vulputate nec, fermentum fringilla, vehicula vitae, justo. Vestibulum fermentum tortor id mi. Nullam sapien sem,
        ornare ac, nonummy non, lobortis a enim. Curabitur sagittis hendrerit ante. Ut tempus purus at lorem. Cras pede 
        libero, dapibus nec, pretium sit amet, tempor quis. Nullam dapibus fermentum ipsum. Donec quis nibh at felis 
        congue commodo. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi 
        ut aliquid ex ea commodi consequatur? Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Praesent 
        vitae arcu tempor neque lacinia pretium. In enim a arcu imperdiet malesuada.
    </p>
    
    <p>
        Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Phasellus et lorem id felis nonummy placerat. 
        Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Quisque porta. Fusce nibh. Praesent dapibus. 
        Maecenas sollicitudin. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas libero. Nulla turpis 
        magna, cursus sit amet, suscipit a, interdum id, felis. Class aptent taciti sociosqu ad litora torquent per 
        conubia nostra, per inceptos hymenaeos. Mauris metus. Vivamus ac leo pretium faucibus. Integer imperdiet lectus 
        quis justo. Etiam quis quam.
    </p>
    
    <p>Pellentesque arcu. Vestibulum fermentum tortor id mi. In laoreet, magna id viverra tincidunt, sem odio bibendum 
        justo, vel imperdiet sapien wisi sed libero. Nulla non arcu lacinia neque faucibus fringilla. Maecenas ipsum 
        velit, consectetuer eu lobortis ut, dictum at dui. Aliquam ante. Pellentesque ipsum. Pellentesque sapien. Sed 
        ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nullam sit 
        amet magna in magna gravida vehicula.</p>
    
    <p>
        Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Duis risus. Mauris suscipit, ligula sit amet 
        pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Nullam faucibus mi quis velit. 
        Suspendisse nisl. Morbi scelerisque luctus velit. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy 
        ac, erat. Donec vitae arcu. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus 
        maiores alias consequatur aut perferendis doloribus asperiores repellat. Etiam bibendum elit eget erat. Class 
        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Integer pellentesque quam 
        vel velit. Nulla pulvinar eleifend sem. Integer lacinia. Aliquam erat volutpat. Nullam dapibus fermentum ipsum. 
        Curabitur sagittis hendrerit ante.
    </p>
